<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="container">

    <h3>UPDATE CITY</h3>

    <form #userForm="ngForm" (ngSubmit)='onUpdate(userForm.value)'>

        <div class="form-group">

            <label>SNO:</label>

            <input required minlength="1" type="number" [(ngModel)]="obj1.sno" readonly="readonly" #citSnoRef='ngModel'
                name="sno" ngModel class="form-control">

        </div>
  <div class="form-group">
            <label>CITY ID: </label>
            <input required minlength="1" type="number" [(ngModel)]="obj1.cityId" #citIdRef='ngModel' name="cityId" ngModel
                class="form-control">
            <div *ngIf='citIdRef.errors
                        && citIdRef.touched' class="alert alert-danger">
                <div [hidden]='!citIdRef.errors.required'>
                    Provide city id
                </div>
                <div *ngIf='citIdRef.errors.pattern'>cityid should be minimum of 1 characters length</div>
            </div>
        </div>
        <div class="form-group">
            <label>city name: </label>
            <input required minlength="1" type="text" [(ngModel)]="obj1.cityNames" #citNameRef='ngModel' name="cityNames"
                ngModel class="form-control">
 <div *ngIf='citNameRef.errors && citNameRef.touched' class="alert alert-danger">
                <div [hidden]='!citNameRef.errors.required'> Provide CITY NAMES </div>
            </div>
        </div>
          <input [disabled]="userForm.invalid" type="submit" value="Edit City" class="btn btn-primary">
    </form>
</div>
<div>
    <h2>{{message}}</h2>
</div>